.stream-container {
	overflow: hidden;
	padding: 5px;
	background-color: #4a026f;
}

.stream-display {
	overflow: hidden;
	clear: both;
	padding: 3px;
	background-color: #d9a3ed;
	height: auto;
	min-height: 64px;
	margin: 1px;
}

.stream-preview {
	float: left;
	padding-left: 5px;
	width: auto;
	vertical-align: 50%;
	overflow: auto;
}

.stream-row {
	text-align: left;
	font-size: 16px;
}

.stream-contents {
	padding-left: 5px;
	overflow: hidden;
}

.stream-title {
	padding-bottom, padding-top: 1px;
	text-align: center;
	font-size: 20px;
	clear: right;
	border-bottom: 1px solid #4588ba;
	margin-bottom, margin-top: 1px;
	display: block;
}
.stream-game {
	float: left;
	font-style: underline;
	margin-top: 1px;
	padding-top, padding-bottom: 1px;
	display: inline-block;
}
.stream-viewers {
	margin-top: 1px;
	padding-top, padding-bottom: 1px;
	display: inline-block;
	font-style: italic;
}

.stream-desc {
	padding-top, padding-bottom: 1px;
	display: inline-block;
	font-style: italic;
}
