html,
body {
	margin: 0;
	padding: 0;
}
button {
	margin: 0px;
	padding: 1px;
	border: 1;
	background: #FFFFFF;
	font-weight: 100;
	text-align: center;
}

input[type="image"]:disabled {
	cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
}

#body-container{
	width:90%;
	clear: both;
	display: inline-block;
	padding-left: 5%;
	overflow: hidden;
}

.header {
	width:90%;
	clear: both;
	font-size: 50px;
	font-weight: 50;
	text-align: center;
	padding-left: 5%;
	background-color: #a3eded;
}

.stream-response {
	width:90%;
	background-color: #bfefb3;
	text-align: center;
	padding-top: 1px;
	width: inherit;
	overflow: hidden;
}

.nav-responses {
	overflow: hidden;
	color: blue;
	height: 50px;
}

.page-responses {
	float: right;
	padding-right: 2%;
	display: inline-block;
	height: 36px;
	width: auto;
}

#page-number{
	top: -10px;
	font-size: 8pt;
	color: gray;
}

.info-responses {
	float: left;
	padding-left: 2%;
	text-align: ;
	height: 36px;
	line-height: 36px;
	width: auto;
}